.main {
    background-image: url(https://res.cloudinary.com/dsc2dexdm/image/upload/v1666962913/FamilyCamping-2021-GettyImages-948512452-2_qz965s.jpg)
}
.mynav {
    background-color: #f13e3e;
    color: azure;
}
.me-auto{
    
    color:whitesmoke;
}
.navbar-brand{
    color:aliceblue;
}
.nav-link{
    color:aliceblue

}
.nav-link:hover{
    color:aliceblue
}
.btn-auth{
    padding-right:100px;
    
    


}
.log-btn{
    color:aliceblue
}
.create-btn {
    background-color: #f13e3e;
}
.btn-sec {
    background-color: #f13e3e;
}
.form-af{

    
}
