.mynav{
    background-color:red;
    color:azure;
    
}
.me-auto{
    
    color:whitesmoke;
}
.navbar-brand{
    color:aliceblue;
}
.nav-link{
    color:aliceblue
}
.btn-auth{
    padding-right:100px;
    
    


}
