
    





.dropdown {
    
    display: flex;
    flex-direction: column;
    
    position:relative;
}

    .dropdown:empty {
        border: none;
    }

.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}


